@use './variables' as *;
@use './breakpoints' as *;

@mixin btn-cta($fcolor: $white, $bgc: $mainBlue, $br-color: $white) {
  font-family: inherit;
  padding: 0.5rem 0.7rem;
  @include xs {
    padding: 0.5rem 1rem;
  }
  border-radius: $borderRadius;
  border: 2px solid $br-color;
  margin-right: 5px;
  cursor: pointer;
  color: $fcolor;
  background-color: $bgc;
  text-decoration: none;
  display: grid;
  text-align: center;
  align-content: center;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  &:hover {
    background-color: $fcolor;
    color: $bgc;
    border: 2px $bgc solid;
  }

  &:disabled {
    background-color: $fcolor;
    color: $bgc;
    border: 2px $bgc solid;
  }
}

@mixin navbar-btn {
  font-family: inherit;
  cursor: pointer;
  position: relative;
  color: $white;
  text-decoration: none;
  @include fontSize;
  margin-right: 0.75rem;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    inset: 0;
    top: 100%;
    background-color: $red;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
    border-radius: $borderRadius;
  }
  &:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }
}
