@use './breakpoints' as *;
@use './variables' as *;

@mixin section-padding {
    padding: 1rem;

    @include xs {
        padding: 1rem 20%;
    }
}

@mixin nav-padding {
    padding: 0 1rem;

    @include xs {
        padding: 0 10%;
    }
}