@use '../../../styles/breakpoints' as *;
@use '../../../styles/variables' as *;
@use '../../../styles/paddings' as *;
@use '../../../styles/headings' as *;

.person {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    &__thumbnail {
        background-color: $white;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        height: 10rem;
        width: 10rem;
        box-shadow: 0px 0px 10px $red;
    }

    &__position {
        display: block;
        background-color: $red;
        color: $white;
        margin: 0.75rem 0;
        font-family: inherit;
        text-transform: uppercase;
        padding: 0.25rem;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.25rem;
        border-radius: $borderRadius;
    }

    &__name {
        color: $white;
        font-family: inherit;
        text-transform: uppercase;
        padding: 0.25rem;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.25rem;
        font-size: 1.3rem;
    }
}

@include xs {
    .person {
        &__name {
            font-size: 1.5rem;
        }
    }
}

@include sm {
    .person {
        width: 20rem;
    }
}