@use '../../../styles/index' as *;

.person {
    width: 100%;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    &__thumbnail {
        background-color: $white;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        height: 10rem;
        width: 10rem;
        box-shadow: 0px 0px 10px $red;
    }

    &__position {
        display: inline;
        color: $white;
        font-family: inherit;
        text-transform: uppercase;
        padding: 0.25rem;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.25rem;
        border-radius: $borderRadius; 
        line-height: 2rem;
        text-align: center;
        span {
            display: inline;
            padding: 0.25em 0;
            background: $red;
            color: $white;
            box-shadow: .1em 0 0 $red, -.1em 0 0 $red;
        }
    }

    &__name {
        color: $white;
        font-family: inherit;
        text-transform: uppercase;
        padding: 0.25rem;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.25rem;
        font-size: 1.3rem;
        margin: 0.5rem auto;
    }
}

@include xs {
    .person {
        &__name {
            font-size: 1.8rem;
        }
    }
}

@include sm {
    .person {
        height: 420px;
        max-height: unset;
        width: 20rem;
    }
}