@use '../../styles/index' as *;

.join-us {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem auto;
  }
}

@include sm {
  .join-us {
    &__wrapper {
      gap: 1rem;
    }
  }
}
