@use "./breakpoints" as *;
@use "./variables" as *;

@mixin section-padding {
  padding: 1rem;

  @include xs {
    padding: 1rem;
  }

  @include sm {
    padding: 1rem 12.5%;
  }

  @include md {
    padding: 1rem 20%;
  }
}

@mixin blog-padding {
  padding: 0 1rem 1rem;

  @include xs {
    padding: 0 10% 1rem;
  }

  @include sm {
    padding: 0 12.5% 1rem;
  }

  @include md {
    padding: 0 20% 1rem;
  }
}

@mixin nav-padding {
  padding: 0 1rem;

  @include xs {
    padding: 0 1rem;
  }

  @include sm {
    padding: 0 12.5%;
  }

  @include md {
    padding: 0 20%;
  }
}
