@use './breakpoints' as *;

$white: #ffffff;
$red: #c90a15;
$mainBlue: #0f2947;
$gray: gray;
$paddingSectionTop: 70px;

$fontFamily: 'Montserrat', sans-serif;
$borderRadius: 10px;

@mixin fontSize {
  font-size: 16px;
  @include sm {
    font-size: 18px;
  }
}
