@use "../../styles/index" as *;

.banner {
  background-color: $mainBlue;
  width: 100%;
  height: calc(100vh - $paddingSectionTop);
  padding: 0 10px;
  @include section-padding;
  color: $white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 55% 45%;
  justify-items: center;
  background-image: url("/wave-background.svg");
  background-size: 300%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  &__header {
    opacity: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
      font-weight: 700;
      font-size: 1.9rem;
      text-transform: uppercase;
      letter-spacing: 3.5px;
      text-align: center;
    }

    p {
      text-align: center;
      width: 100%;
      font-size: 1.4rem;
    }
  }

  &__paragraphs-container {
    opacity: 0;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        margin-right: 0.25rem;
      }

      svg::after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: transparent;
        z-index: -2;
        box-shadow: 1px 1px 10px red;
      }
    }
  }

  &__btn-container {
    opacity: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  &__support-btn {
    @include btn-cta($white, $red);
  }

  &__join-btn {
    @include btn-cta;
  }

  &__image {
    grid-row: 1 / 2;
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    align-self: end;
    opacity: 0;
  }
}

@include xs {
  .banner {
    grid-template-rows: 45% 55%;
    background-size: 200%;
    background-position: bottom;
    padding-top: $paddingSectionTop;
    &__header {
      justify-content: flex-start;
      gap: 1rem;
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.7rem;
        max-width: 500px;
      }
    }

    &__image {
      width: 100%;
      aspect-ratio: 1 / 1;
      max-width: 250px;
      align-self: flex-end;
    }
  }
}

@include md {
  .banner {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    background-position: bottom;
    background-size: 110%;
    &__header {
      width: 100%;
      gap: 0;
      grid-column: 1 / 2;
      & > :nth-child(n) {
        margin-top: 1rem;
      }

      h1 {
        font-size: 2.5rem;
        text-align: center;
        line-height: 2.1rem;
      }

      p {
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 0.25rem;
      }
    }

    &__image {
      grid-column: 2 / 4;
      align-self: unset;
      max-width: 550px;
    }
  }
}

@include lg {
  .banner {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1rem;
    &__header {
      h1 {
        font-size: 3rem;
        text-align: center;
        line-height: 3.5rem;
      }

      p {
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 0.25rem;
      }
    }
  }
}
