@use '../../../styles' as *;

.social-media {
  width: 100%;
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  &__link {
    @include btn-cta;
    flex: 1 1 33%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    svg {
      width: 2rem;
    }
    svg > path {
      fill: $white;
    }
    &:hover {
      svg > path {
        fill: $red;
      }
    }
  }
}
