@use '../../styles/breakpoints' as *;
@use '../../styles/variables' as *;
@use '../../styles/paddings' as *;
@use '../../styles/headings' as *;

.about-me {
    width: 100%;
    background-color: $white;
    @include section-padding;
    h2 {
        @include section-heading;
    }

    &__text {
        text-align: justify;
        text-indent: 2rem;
        p {
            margin: 0.5rem 0;
        }

        span {
            color: $red;
            font-weight: bold;
        }
    }
}

@include sm {
    .about-me {
        &__text {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            p {
                flex: 1 1 300px;
                font-size: 18px;
            }
        }
    }
}