@use "../../../styles/index" as *;

.post {
  &__gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    &-figure {
      display: block;
      overflow: hidden;
      position: relative;
      display: grid;
      align-items: center;
      border: 1px solid rgba($gray, 0.5);
      width: 100%;
    }
    &-container {
      position: relative;
      width: 100%;
      height: auto;
    }
    &-image {
      display: block;
      margin: auto;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

@include sm {
  .post {
    gap: 1rem;
    &__gallery {
      justify-items: flex-start;
      &-figure {
        flex: 1 1 30%;
      }
      &-container {
        position: relative;
        width: 100%;
      }
      &-image {
        width: 100%;
        height: auto;
      }
    }
  }
}
