@use '../../../styles/index' as *;

.post {
    &__gallery {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        &-figure {
            display: block;
            flex: 1 1 32%;
            overflow: hidden;
            position: relative;
            display: grid;
            align-items: center;
            border: 1px solid rgba($gray, 0.5);
        }
        &-image {
            display: block;
            margin: auto;
            width: 100%;
        }
    }
}

@include sm {
    .post {
        gap: 1rem;
        &__gallery {
            &-figure {
                flex: 1 1 25%;
            }
        }
    }
}