@use "../../../styles/index" as *;

.post {
  &__gallery {
    width: 100%;
    height: 400px;
    @include md {
      height: 500px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background: transparent;
    position: relative;
    &-section {
      overflow: hidden;
      padding: 0.2rem;
      @include md {
        padding: 1rem;
      }
      margin: 0.5rem 0;
    }
    &-container {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-items: center;
      flex-shrink: 0;
      padding: 0.5rem 0;
    }
    &-image {
      position: relative;
      height: 100%;
      width: auto;
      max-width: 100%;
      margin: auto;
      border-radius: 10px;
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
    }
  }
  &__subgallery {
    width: 100%;
    padding: 0.2rem;
    @include md {
      padding: 1rem;
    }
    overflow: hidden;
    &-btn {
      display: flex;
      height: 100%;
      width: 100%;
      justify-items: center;
      align-items: center;
      height: 100px;
      @include md {
        height: 150px;
      }
      overflow: hidden;
      border: none;
      border-radius: 10px;
    }
    &-image {
      height: auto;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
