@use '../styles/index' as *;

.blog-page {
  width: 100%;
  min-height: 100vh;
  padding: 0 10px;
  @include section-padding;
  &__title {
    @include section-heading;
  }

  &__list {
    list-style: none;
    display: grid;
    gap: 1rem;
  }

  &__post {
    border: 1px solid $gray;
    &-image {
      width: 100%;
      height: 200px;
      background-position: center;
      background-size: cover;
      background-color: $mainBlue;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      &:hover {
        filter: brightness(105%);
      }
    }
    &-title {
      text-align: center;
      color: $white;
      margin-bottom: 1rem;
      width: 100%;
      min-height: 5rem;
      background-color: rgba(black, 0.8);
      word-wrap: break-word;
      vertical-align: bottom;
      display: grid;
      align-content: center;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 700;
      padding: 1rem;
      &:hover {
        color: $red;
      }
    }

    &-excerpt {
      padding: 1rem;
      padding-top: 0rem;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &-paragraph {
        text-indent: 1.5rem;
        min-height: 150px;
        &-extended {
          display: none;
        }
      }
    }

    &-btn {
      display: block;
      @include btn-cta;
      margin: 0.5rem auto 0;
      width: 100%;
      text-align: center;
    }

    &-time {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      color: $gray;
      text-align: center;
      padding: 0.5rem;
      font-style: italic;
      svg {
        margin-right: 0.25rem;
      }
    }
  }

  &__error-btn {
    display: block;
    @include btn-cta;
    margin: auto;
  }
}

@include xs {
  .blog-page {
    &__post {
      border: 1px solid $gray;
      &-image {
        height: 300px;
      }
      &-title {
        font-size: 1.1rem;
      }
    }
  }
}

@include md {
  .blog-page {
    &__list {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin: auto;
    }

    &__post {
      &:first-child {
        grid-column: 1 / 3;
        p:first-child {
          display: block;
        }
        p:last-of-type {
          display: none;
        }
      }

      &-image {
        background-size: cover;
      }

      &-title {
        font-size: 1.5rem;
        padding: 1.5rem;
      }

      &-excerpt {
        &-paragraph {
          height: 100px;
          min-height: unset;
        }
      }

      &-btn {
        width: unset;
      }
    }
  }
}
