@use "../../styles/breakpoints" as *;
@use "../../styles/buttons" as *;
@use "../../styles/headings" as *;
@use "../../styles/paddings" as *;
@use "../../styles/variables" as *;

.post {
  width: 100%;
  min-height: 100vh;
  @include sm {
    @include blog-padding;
  }
  &__image {
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-color: $mainBlue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    overflow: hidden;
    @include blog-padding;
    img {
      object-fit: cover;
    }
  }

  &__title {
    position: relative;
    @include section-heading;
    color: $white;
    font-size: 1rem;
    z-index: 1;
    &-backdrop {
      background-color: rgba(black, 0.65);
      height: 105%;
      width: 100vw;
      position: absolute;
      z-index: -1;
      inset: 50%;
      transform: translate(-50%, -50%);
      padding: 3rem;
    }
  }

  &__btn-back {
    align-self: flex-start;
    @include btn-cta($white, $red);
    &--absolute {
      @extend .post__btn-back;
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }

  &__content {
    width: 100%;
    margin: 1rem 0;
    text-align: justify;
    font-family: inherit;
    text-indent: 2rem;
    word-wrap: break-word;
    line-height: 30px;
    p {
      margin: 0.5rem 0;
      @include sm {
        margin: 1rem 0;
      }
    }
    ol,
    li {
      text-indent: 1rem;
    }
    ol {
      margin-left: 3rem;
    }
    img {
      display: block;
      margin: 0.5rem auto;
      max-width: 100%;
      @include sm {
        max-width: 80%;
      }
    }
  }

  &__figure {
    width: 100%;
    height: auto;
    margin: 1rem auto;
    &-container {
      position: relative;
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
    &-image {
      display: block;
      margin: auto;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    &-figcaption {
      font-family: inherit;
      font-weight: 300;
      font-style: italic;
      text-align: center;
      color: $gray;
      line-height: auto;
      text-indent: 0;
    }
  }

  &__publication-time {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: italic;
    color: gray;
    height: 1rem;
    font-size: 1rem;
    margin: 0.5rem auto;
    svg {
      display: block;
      margin-right: 0.25rem;
    }
  }
}

@include xs {
  .post {
    &__image {
      height: 500px;
    }

    &__title {
      font-size: 1.3rem;
    }
  }
}

@include sm {
  .post {
    &__title {
      font-size: 1.5rem;
    }

    &__figure {
      &-image {
        max-width: 100%;
      }
      &-figcaption {
        margin: auto;
        max-width: 600px;
      }
    }
  }
}

@include md {
  .post {
    &__image {
      background-size: cover;
    }

    &__title {
      font-size: 1.8rem;
    }

    &__publication-time {
      height: 1.6rem;
      font-size: 1.2rem;
    }
  }
}
